-e file:.

# General
Django==4.0.3
djangorestframework==3.13.1
django-countries==7.3.2
django-crispy-forms==1.14.0
crispy-bootstrap5==0.6

requests==2.27.1

python-dotenv==0.19.2

# Testing
pytest==7.1.0
pytest-django==4.5.2
pytest-mock==3.7.0